.fib {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.fi {
	display: inline-block;
	line-height: 1em;
	position: relative;
	width: 1.333333 * 1em;
	@extend .fib;

	&::before {
		content: "\00a0";
	}

	&.fis {
		width: 1em;
	}
}
